<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>User: Name</th>
        <th>User: Surname</th>
        <th>User: Age</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">ID</td>
        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getSurname()}">Surname</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td>
            <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Update</a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
</table>
<br/>
<a href="/users/new">Create new person</a>
<br/>
</body>
</html>